/* 设置全局样式 */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* 设置头部样式 */
header {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  /* 设置头部背景颜色 */
  padding: 20px;
}

/* 设置左上方块的样式 */
.square1 {
  width: 40%;
  height: 80%;
  background-color: rgb(72, 6, 105);
  /* 设置方块背景颜色 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  /* 圆角 */
  box-shadow: 0 10px 20px rgba(12, 0, 0, 0.2);
  /* 阴影 */
  float: left;
  margin-left: 5%;
  margin-top: 5%;
  transition: transform 0.2s ease-in-out;
}

.square1:hover {
  background-color: #14ceeb;
  /* 设置方块背景颜色 */
  transform: scale(1.05);
}

.square1 square1t1 {
  font-size: 6em;
  color: #222e50;
  text-align: center;
  margin: 10%;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font: bold;
  top: 100px;
}

.square1 square1t1 a {
  text-decoration: none;
  color: #13c7be;
  /* 设置链接颜色 */
}

.square1 square1t1 img {
  width: 80%;
  /* 设置图片容器的宽度 */
  height: 80%;
  /* 设置图片容器的高度 */
  overflow: hidden;
  /* 隐藏溢出的部分，以显示圆形 */
  border-radius: 50%;
  display: block;
  padding: 10%;
  justify-content: center;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
  /* 添加阴影效果 */
  max-width: 100%;
}

.square1 square1t1:hover {
  text-decoration: underline;
}

/* 设置左下方块的样式 */
.square2 {
  width: 40%;
  height: 40%;
  background: linear-gradient(to bottom, #a71418, #8617e0);
  position: absolute;
  top: 105%;
  right: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  /* 圆角 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* 阴影 */
  transition: transform 0.2s ease-in-out;
}

.square2:hover {
  background-color: #93a8ac;
  /* 设置方块背景颜色 */
  transform: scale(1.05);
}

.square2 square2t1 {
  font-size: 5em;
  color: #ffffff;
  text-align: center;
  margin: 10%;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font: bold;
}

.square2 square2t1 a {
  text-decoration: none;
  color: #ffffff;
  /* 设置链接颜色 */
}

.square2 square2t1:hover {
  text-decoration: underline;
}

/* 设置右上方块的样式 */
.square3 {
  width: 40%;
  height: 30%;
  background: linear-gradient(to bottom, #03044d, #8bb174);
  position: absolute;
  top: 153%;
  left: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  /* 圆角 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* 阴影 */
  transition: transform 0.2s ease-in-out;
}

.square3:hover {
  background-color: #f9db6d;
  /* 设置方块背景颜色 */
  transform: scale(1.05);
}

.square3 square3t1 {
  font-size: 4em;
  color: #9f0e68;
  text-align: center;
  margin: 10%;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font: bold;
}

.square3 square3t1 a {
  text-decoration: none;
  /* 去掉下划线 */
  color: #ffffff;
  /* 设置链接颜色 */
}

.square3 square3t1:hover {
  text-decoration: line-through;
}

/* 设置右下方块的样式 */
.square4 {
  width: 25%;
  height: 30%;
  background-color: #222e50;
  /* 设置方块背景颜色 */
  position: absolute;
  top: 115%;
  left: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  /* 圆角 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* 阴影 */
  transition: transform 0.2s ease-in-out;
}

.square4:hover {
  background-color: #a7c288;
  /* 设置方块背景颜色 */
  transform: scale(1.05);
}

.square4 square4t1 {
  font-size: 3em;
  color: #ffffff;
  text-align: center;
  margin: 10%;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font: bold;
}

.square4 square4t1 a {
  text-decoration: none;
  /* 去掉下划线 */
  color: #ffffff;
  /* 设置链接颜色 */
}

.square5 {
  width: 25%;
  height: 30%;
  background-color: #222e50;
  /* 设置方块背景颜色 */
  position: absolute;
  top: 150%;
  right: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  /* 圆角 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* 阴影 */
  transition: transform 0.2s ease-in-out;
}

.square5:hover {
  background-color: #a7c288;
  /* 设置方块背景颜色 */
  transform: scale(1.05);
}

.square5 square5t1 {
  font-size: 3em;
  color: #ffffff;
  text-align: center;
  margin: 10%;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font: bold;
}

.square5 square5t1 a {
  text-decoration: none;
  /* 去掉下划线 */
  color: #ffffff;
  /* 设置链接颜色 */
}

/* 设置底栏样式 */
.footer {
  width: 100%;
  height: 9%;
  background: transparent;
  position: absolute;
  bottom: -100%;
  display: flex;
  justify-content: center;
  /* 水平方向上均匀分布 */
  align-items: center;
  /* 竖直方向上居中对齐 */
}

/* 设置底栏文字 */
.footer footert1 {
  font-size: 15px;
  color: #b5b0b0;
  text-align: center;
  padding: 10px;
  font-family: "Josefin Sans", sans-serif;
  font: bold;
}

/* 设置链接文本的颜色 */
.footer footert1 a {
  text-decoration: none;
  /* 去掉下划线 */
  color: #7d918d;
  /* 设置链接颜色 */
}

/* 设置链接文本的悬停颜色 */
.footer footert1 a:hover {
  text-decoration: none;
  /* 鼠标悬停时添加下划线 */
  color: #ffffff;
  /* 设置悬停颜色 */
}

.page {
  height: 100vh;
  /* 设置每个页面的高度为视口高度的一半 */
  overflow: auto;
  /* 允许内容滚动 */
  background: linear-gradient(to left, #8f7394, #34032f);
}

.selfIntroApply {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 0 10%;
  font-family: "Poppins", sans-serif;
  font: bold;
}

.selfIntroLinks {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 0 10%;
  font-family: "Poppins", sans-serif;
  font: bold;
}

.selfIntroLinks a {
  color: #ffffff;
  text-decoration: none;
}

.bodyBigtext {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 0 10%;
  font-family: "Poppins", sans-serif;
  font: bold;
  display: inline-block;
}

.bodyChineseBigtext {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 0 10%;
  font-family: "Noto Serif SC", serif;
  font-weight: bold;
  display: inline-block;
}

.bodyMidtext {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 0 10%;
  font-family: "Poppins", sans-serif;
  font: bold;
  display: inline-block;
}

.bodytext {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 0 10%;
  font-family: "Montserrat", sans-serif;
  text-align: start;
}

.bodytext a {
  color: #91af91;
  display: inline-block;
  text-decoration: none;
}

.bodytext a:hover {
  text-decoration: none;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
  z-index: 2;
}

.CoverImage {
  width: auto;
  height: 80%;
  float: left;
  box-shadow: 50px 0 50px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  /* 圆角 */
  margin-left: 5%;
  margin-top: 5%;
}

.button-container {
  position: absolute;
  /* 设置绝对定位 */
  top: 1%;
  /* 距离顶部的距离 */
  right: 5%;
  /* 距离右侧的距离 */
  gap: 20px;
  display: flex;
  flex-direction: row;
  /* 将按钮水平排列 */
}

.button {
  width: 120px;
  height: 60px;
  background-color: transparent;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.button span {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.button-container a {
  text-decoration: none;
}

.container {
  display: flex;
}

.typed-out {
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
  color: #cc3f0c;
  padding: 10px;
  margin: 0 10%;
  border-right: 0.15em solid #ffa500;
  white-space: nowrap;
  animation: typing 1s steps(20, end) forwards, blink 1s infinite alternate;
  font-size: 24px;
  font-style: italic;
  width: 0;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 88%;
  }
}

@keyframes blink {
  to {
    opacity: 70%;
  }
}

/* 例如，将以下代码添加到你的CSS文件中 */
@media screen and (max-width: 1200px) {

  /* 在小屏幕上的样式调整 */
  .button-container {
    top: 1%;
    /* 调整按钮距离顶部的距离 */
    right: 11%;
    display: flex;
    justify-content: center;
    /* 水平方向上均匀分布 */
    align-items: center;
    /* 竖直方向上居中对齐 */
    position: absolute;
  }

  .button {
    width: 60px;
    height: 40px;
    margin-bottom: 10px;
    /* 调整按钮之间的间距 */
  }

  .button span {
    font-size: 10px;
  }

  .square1 {
    width: 50%;
    height: 30%;
    margin-top: 17%;
    margin-left: 25%;
    float: none;
  }

  .square1 square1t1 a {
    font-size: 30px;
  }

  .square1 square1t1 img {
    width: 40%;
    /* 设置图片容器的宽度 */
    height: 40%;
    /* 设置图片容器的高度 */
    padding: 10%;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
    /* 添加阴影效果 */
    border-radius: 50%;
    margin-bottom: 10%;
    margin-left: 20%;
  }

  .square2 square2t1 {
    font-size: 30px;
  }

  .square3 square3t1 {
    font-size: 30px;
  }

  .square4 square4t1 a {
    font-size: 20px;
  }

  .square5 square5t1 {
    font-size: 15px;
  }

  .footer footert1 a img {
    width: 15px;
    height: 15px;
  }

  .footer footert1 {
    font-size: 10px;
  }

  .bodyBigtext {
    font-size: 15px;
    padding: 1px;
    margin: 0 40%;
  }

  .bodyChineseBigtext {
    font-size: 10px;
    padding: 1px;
    margin: 0 46%;
    display: none;
  }

  .bodyMidtext {
    font-size: 8px;
    padding: 1px;
    margin: 0 48%;
    display: none;
  }

  .bodytext {
    font-size: 12px;
    padding: 1px;
    margin: 0 5%;
  }

  .selfIntroApply {
    font-size: 10px;
    padding: 5px;
    margin: 0 20%;
  }

  .selfIntroLinks {
    font-size: 10px;
    padding: 5px;
    margin: 0 18%;
  }

  .typed-out {
    font-size: 11px;
    padding: 1px;
    margin: 0 5%;
  }
}