<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vincent More</title>
  <link rel="icon" type="image/png" href="../../image/favicon.png" />
  <link rel="stylesheet" href="styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet" />


</head>

<body>
  <div class="page">
    <div class="button-container">
      <a href="../../layout/research/research.html">
        <div class="button">
          <span>Research</span>
        </div>
      </a>
      <a href="https://vincent-sjh.github.io/">
        <div class="button">
          <span>Blogs</span>
        </div>
      </a>
      <a href="../../assets/CV.pdf">
        <div class="button">
          <span>CV</span>
        </div>
      </a>
      <a href="../../index.html">
        <div class="button">
          <span>🏠Home</span>
        </div>
      </a>
    </div>
    <div class="bigTitle">Programmer & Creator</div>
    <table class="content-table">
      <tr>
        <td class="section-image-large">
          <div class="imageWithCaption">
            <img src="../../image/nyu_shanghai.png" alt="NYU Teaching Assistant" width="330" height="200" />
            <!-- <p class="bodytext">Huawei HCI Hackathon</p> -->
          </div>
        </td>

        <td class="section-content">
          <div class="section-title">NYU Teaching Assistant</div>
          <div class="section-second-title">
            Life Experience
          </div>
          <div class="section-details">
            <span class="section-date">2024.10 ~ 2025.01</span>

            <br />
            I hope to practice my ability to use English to communicate in the field of CST, feel the teaching
            atmosphere of an
            English university, and try more diversified cultural collisions. Therefore, I applied to be a teaching
            assistant in the
            <strong><a href="https://shanghai.nyu.edu/academics/majors/computer-systems-engineering">
                Computer Science, Data Science, and Engineering Department of New York University Shanghai
              </a></strong> for one semester, which was a fulfilling experience.
          </div>
        </td>
      </tr>


      <tr>
        <td class="section-image-large">
          <div class="imageWithCaption">
            <img src="../../image/Human_resource_machine.jpg" alt="Human Resource Machine" width="330" height="240" />
            <!-- <p class="bodytext">Huawei HCI Hackathon</p> -->
          </div>
        </td>

        <td class="section-content">
          <div class="section-title">Human Resource Machine</div>
          <div class="section-second-title">
            Programming Game
          </div>
          <div class="section-details">
            <span class="section-date">2022.11 ~ 2023.1</span>

            <br />
            I led the team to use C++ to reimplement the programming puzzle game
            <strong><a href="https://tomorrowcorporation.com/humanresourcemachine">Human Resource Machine </a></strong>
            developed by Tomorrow Corporation. In this game, players need to input code to control a robot to complete
            specified tasks, which effectively trains programming thinking without requiring knowledge of any specific
            programming
            language,as the game uses its own easy-to-understand code format. Additionally, our game emphasizes code
            optimization,
            encouraging players to use the simplest and most efficient code to achieve functionality.
          </div>
        </td>

      </tr>

      <tr>
        <td class="section-image-large">
          <div class="imageWithCaption">
            <img src="../../image/gravity_connect_four.png" alt="Gravity Connect Four" width="330" height="290" />
            <!-- <p class="bodytext">Huawei HCI Hackathon</p> -->
          </div>
        </td>

        <td class="section-content">
          <div class="section-title">Gravity Connect Four</div>
          <div class="section-second-title">
            Blog
          </div>
          <div class="section-details">
            <span class="section-date">2023.05 ~ 2023.07</span>

            <br />
            I utilized the Upper Confidence Bound (UCB) algorithm with Monte Carlo Tree Search (MCTS) to implement the
            Upper
            Confidence Trees (UCT) algorithm for simulating Gravity Connect Four. This combination allowed the AI to
            make informed
            decisions, balancing exploration and exploitation. Numerous simulations helped the AI improve its strategy
            over time.

            Testing showed remarkable results, with the AI achieving a 99.9% win rate against human opponents,
            demonstrating the UCT
            algorithm's robustness. In 100 test games against various chess algorithms, the AI secured 97 victories,
            showcasing its
            adaptability across different strategies.
          </div>
        </td>
      </tr>

      <tr>
        <td class="section-image-large">
          <div class="imageWithCaption">
            <img src="../../image/cpu.png" alt="CPU" width="330" height="330" />
            <!-- <p class="bodytext">Huawei HCI Hackathon</p> -->
          </div>
        </td>

        <td class="section-content">
          <div class="section-title"> RISC-V Pipelined CPU with the SystemVerilog language</div>
          <div class="section-second-title">
            Blog
          </div>
          <div class="section-details">
            <span class="section-date">2024.11 ~ 2024.12</span>

            <br />
            I led a team in designing and implementing a RISC-V pipelined CPU using SystemVerilog on the Vivado
            platform. The CPU
            features a five-stage pipeline for efficient instruction execution. Our design includes robust support for
            interrupts
            and exception handling, enabling effective management of unexpected events and errors. It also supports
            virtual address
            translation with an integrated Memory Management Unit (MMU), allowing for advanced memory management. We
            implemented a
            level-1 cache system, consisting of both Instruction Cache and Data Cache, to improve
            memory access
            speed and performance. Additionally, the design includes a VGA controller for image display, supporting
            multimedia
            output in real-time applications. This project highlights our team's ability to integrate key hardware
            components to
            optimize functionality and performance.


          </div>
        </td>
      </tr>

      <tr>
        <td class="section-image-large">
          <div class="imageWithCaption">
            <img src="../../image/MiniGLM.jpg" alt="MiniGLM" width="330" height="240" />
            <!-- <p class="bodytext">Huawei HCI Hackathon</p> -->
          </div>
        </td>

        <td class="section-content">
          <div class="section-title">MiniGLM</div>
          <div class="section-second-title">
            Life Experience
          </div>
          <div class="section-details">
            <span class="section-date">2023.9 ~ 2023.10</span>

            <br />
            In this project, we developed a MiniGPT model utilizing a transformer architecture. By leveraging the rich
            narratives of
            Jin Yong's wuxia novels, we aimed to capture the essence of these stories. We constructed specific Q/A pairs
            to pretrain
            and fine-tune the model, ensuring it could accurately respond to questions about Jin Yong's novels. This
            approach not
            only improved the model's comprehension but also enhanced its ability to generate precise answers related to
            the themes
            and characters of these iconic works.
          </div>
        </td>
      </tr>

      <tr>
        <td class="section-image-large">
          <div class="imageWithCaption">
            <img src="../../image/undefined-os.jpg" alt="Human Resource Machine" width="300" height="300" />
            <!-- <p class="bodytext">Huawei HCI Hackathon</p> -->
          </div>
        </td>

        <td class="section-content">
          <div class="section-title">undefined-OS </div>
          <div class="section-second-title">
            Programming Game
          </div>
          <div class="section-details">
            <span class="section-date">2025.3 ~ 2025.8</span>

            <br />
            I led the team to use Rust to help in developing the Starry OS.
            Starry OS is a Linux-compatible, Rust-written monolithic kernel based on ArceOS, featuring cross-platform support 
            (x86_64, riscv64, aarch64, loongarch64), memory and thread safety, standard POSIX interfaces, and fine-grained 
            kernel components reusable in other kernels.
          </div>
        </td>

      </tr>

      <tr>
        <td class="section-image-large">
          <div class="imageWithCaption">
            <img src="../../image/llm.png" alt="LLM Life Cycle" width="330" height="300" />
            <!-- <p class="bodytext">Huawei HCI Hackathon</p> -->
          </div>
        </td>

        <td class="section-content">
          <div class="section-title"> LLM (Large Language Model) LCA (Life Cycle Assessment) carbon footprint
            measurement and carbon reduction strategies</div>
          <div class="section-second-title">
            Blog
          </div>
          <div class="section-details">
            <span class="section-date">2023.9 ~ 2024.01</span>

            <br />
            I led a team to evaluate the LCA carbon footprint of LLMs and propose corresponding
            carbon reduction strategies. Our calculation formula combines the Scaling Law and the FLOP model
            and takes into account both the operational and embodied footprints. Our findings indicate that
            sparse Mixture of Experts (MoE) architectures (to decompose a large model into multiple smaller
            models (experts), with a gating network deciding which experts to activate for each input sample)
            and the use of specialized ML hardware, such as energy-efficient TPUs (Tensor Processing Unit)
            and NPUs (Neural Processing Unit) instead of GPUs, can significantly reduce carbon emissions while
            maintaining performance metrics.

          </div>
        </td>
      </tr>


    </table>
    <div class="bigTitle">Pathfinder & Explorer</div>

    <div class="photoRow">
      <div class="photoContainer">
        <div class="imageWithCaption">
          <img src="../../image/COCA_2025_1.jpg" alt="Community Over Code Asia 2025" width="400" height="400" style="object-fit:cover;" />
          <p class="bodytext"><strong>Community Over Code Asia 2025</strong></p>
        </div>
      </div>
      <div class="photoContainer">
        <div class="imageWithCaption">
          <img src="../../image/Trae_SOLO_Hackathon.jpg" alt="ByteDance Trae SOLO Hackathon 2025" width="400" height="400" style="object-fit:cover;" />
          <p class="bodytext"><strong>ByteDance Trae SOLO Hackathon 2025</strong></p>
        </div>
      </div>
      <div class="photoContainer">
        <div class="imageWithCaption">
          <img src="../../image/WRC_2025.jpg" alt="World Robot Conference 2025" width="400" height="400" style="object-fit:cover;" />
          <p class="bodytext"><strong>World Robot Conference 2025</strong></p>
        </div>
      </div>
    </div>

</body>

</html>