<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vincent More</title>
  <link rel="icon" type="image/png" href="../../image/favicon.png" />
  <link rel="stylesheet" href="styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap" rel="stylesheet" />


</head>

<body>
  <div class="page">
    <div class="button-container">
      <a href="../../layout/research/research.html">
        <div class="button">
          <span>Research</span>
        </div>
      </a>
      <a href="../../index.html">
        <div class="button">
          <span>🏠Home</span>
        </div>
      </a>
      <a href="../../assets/CV.pdf">
        <div class="button">
          <span>CV</span>
        </div>
      </a>
      <a href="../more/more.html">
        <div class="button">
          <span>One more thing...</span>
        </div>
      </a>
    </div>
    <table class="content-table">
            <tr>
        <td class="section-image-large">
          <div class="imageWithCaption">
            <img src="../../image/undefined.jpg" alt="Undefined-OS" width="330" height="300" />
            <!-- <p class="bodytext">Huawei HCI Hackathon</p> -->
          </div>
        </td>

        <td class="section-content">
          <div class="section-title"><a href="https://undefined-os.github.io/doc/">Undefined-OS</a> </div>
          <div class="section-second-title">
            First Prize Entry of <a href="https://os.educg.net/#/index?TYPE=2025OS_K">OS Kernel Implementation Track, CSCC 2025</a> - National Finals
          </div>
          <div class="section-details">
            <span class="section-date">2025.3 ~ 2025.8</span>
            <br />
            <a href="../../assets/CSCC_Report.pdf">Project Report</a>
            <br />
            Undefined-OS is a Linux-like, componentized kernel written in Rust based on the Arceos component library. Undefined-OS supports thread safety across multiple CPU cores and can run on various instruction architectures, including x86_64, riscv64, aarch64, and loongarch64, while also supporting execution on QEMU virtual machines and other hardware development boards. We provide a Linux-compatible system call implementation and a system call interface designed for future compatibility with other OSes. Our OS already supports running various applications and programming languages, such as Git, GCC, Vim, Sqlite3, Lua, Rust, and Python. You can use Vim for development, compile with rustc/gcc, and manage versions with Git, completing the full OS development workflow on our OS. In short, you can develop an OS on our OS.
          </div>
        </td>

      </tr>

      <tr>
        <td class="section-image-large">
          <div class="imageWithCaption">
            <img src="../../image/TREA_SOLO_Hackathon.png" alt="TREA SOLO Hackathon 2025" width="330" height="300" />
            <!-- <p class="bodytext">Huawei HCI Hackathon</p> -->
          </div>
        </td>

        <td class="section-content">
          <div class="section-title"> Face Sculpting Master</div>
          <div class="section-second-title">
            Outstanding Work Award Entry of ByteDance Trae SOLO Hackathon 2025, obtaining <a href="https://www.douyin.com/video/7541297073723821362">Trae's official repost</a>
          </div>
          <div class="section-details">
            <span class="section-date">2025.8</span>

            <br />
            Face Sculpting Master is a face-sculpting Agent developed by our team using the Trae IDE. It can generate 3D virtual avatars based on user-provided descriptions. The Agent creates corresponding Blender code to model a 3D entity and supports adjustments to environmental visual effects, such as lighting. The Face Sculpting Master project won the Outstanding Project Award at the ByteDance Trae SOLO Hackathon 2025 and was officially reposted by Trae.
          </div>
        </td>s
      </tr>
      
      <tr>
        <td class="section-image-large">
          <div class="imageWithCaption">
            <img src="../../image/gravity_connect_four.png" alt="Gravity Connect Four" width="330" height="290" />
            <!-- <p class="bodytext">Huawei HCI Hackathon</p> -->
          </div>
        </td>

        <td class="section-content">
          <div class="section-title">Gravity Connect Four</div>
          <div class="section-second-title">
            Reinforcement Learning
          </div>
          <div class="section-details">
            <span class="section-date">2023.05 ~ 2023.07</span>
            <br />
            I utilized the Upper Confidence Bound (UCB) algorithm with Monte Carlo Tree Search (MCTS) to implement the Upper Confidence Trees (UCT) algorithm for simulating Gravity Connect Four. This combination allowed the AI to make informed decisions, balancing exploration and exploitation. Numerous simulations helped the AI improve its strategy over time. Testing showed remarkable results, with the AI achieving a 99.9% win rate against human opponents, demonstrating the UCT algorithm's robustness. In 100 test games against various chess algorithms, the AI secured 97 victories, showcasing its adaptability across different strategies. The AI's ability to refine its decision-making through iterative simulations proved crucial in mastering complex game scenarios. 
          </div>
        </td>
      </tr>

      <tr>
        <td class="section-image-large">
          <div class="imageWithCaption">
            <img src="../../image/New_York_University-Logo.png" alt="NYU Teaching Assistant" width="330" height="220" />
            <!-- <p class="bodytext">Huawei HCI Hackathon</p> -->
          </div>
        </td>

        <td class="section-content">
          <div class="section-title">NYU Teaching Assistant</div>
          <div class="section-details">
            <span class="section-date">2024.10 ~ 2025.01</span>

            <br />
            I hope to practice my ability to use English to communicate in the field of CST, feel the teaching
            atmosphere of an English university, and try more diversified cultural collisions. Therefore, I 
            applied to be a teaching assistant in the
            <strong><a href="https://shanghai.nyu.edu/academics/majors/computer-systems-engineering">
                CS Dept of NYU Shanghai
              </a></strong> for one semester, which was a fulfilling experience.
          </div>
        </td>
      </tr>


      <tr>
        <td class="section-image-large">
          <div class="imageWithCaption">
            <img src="../../image/Human_resource_machine.jpg" alt="Human Resource Machine" width="330" height="200" />
            <!-- <p class="bodytext">Huawei HCI Hackathon</p> -->
          </div>
        </td>

        <td class="section-content">
          <div class="section-title">Human Resource Machine</div>
          <div class="section-details">
            <span class="section-date">2022.11 ~ 2023.1</span>

            <br />
            I led the team to use C++ to reimplement the programming puzzle game
            <strong><a href="https://tomorrowcorporation.com/humanresourcemachine">Human Resource Machine </a></strong>
            developed by Tomorrow Corporation. In this game, players need to input code to control a robot to complete
            specified tasks, which effectively trains programming thinking without requiring knowledge of any specific
            programming
            language,as the game uses its own easy-to-understand code format. Additionally, our game emphasizes code
            optimization,
            encouraging players to use the simplest and most efficient code to achieve functionality.
          </div>
        </td>

      </tr>

      <tr>
        <td class="section-image-large">
          <div class="imageWithCaption">
            <img src="../../image/cpu_arch.png" alt="CPU" width="330" height="260" />
            <!-- <p class="bodytext">Huawei HCI Hackathon</p> -->
          </div>
        </td>

        <td class="section-content">
          <div class="section-title"> RISC-V Pipelined CPU with the SystemVerilog language</div>
          <div class="section-details">
            <span class="section-date">2024.11 ~ 2024.12</span>

            <br />
            I led a team in designing and implementing a RISC-V pipelined CPU using SystemVerilog on the Vivado
            platform. The CPU features a five-stage pipeline for efficient instruction execution. Our design includes 
            robust support for interrupts and exception handling, enabling effective management of unexpected events
            and errors. It also supports virtual address translation with an integrated Memory Management Unit (MMU), 
            allowing for advanced memory management. We implemented a cache system, consisting of both Instruction 
            Cache and Data Cache, to improve memory access speed and performance. Additionally, the design includes 
            a VGA controller for image display, supporting multimedia output in real-time applications. 


          </div>
        </td>
      </tr>

      <tr>
        <td class="section-image-large">
          <div class="imageWithCaption">
            <img src="../../image/MiniGLM.jpg" alt="MiniGLM" width="330" height="240" />
            <!-- <p class="bodytext">Huawei HCI Hackathon</p> -->
          </div>
        </td>

        <td class="section-content">
          <div class="section-title">MiniGLM</div>
          <div class="section-second-title">
            Natural Language Processing
          </div>
          <div class="section-details">
            <span class="section-date">2023.9 ~ 2023.10</span>

            <br />
            In this project, we developed a MiniGPT model utilizing a transformer architecture. By leveraging the rich
            narratives of
            Jin Yong's wuxia novels, we aimed to capture the essence of these stories. We constructed specific Q/A pairs
            to pretrain
            and fine-tune the model, ensuring it could accurately respond to questions about Jin Yong's novels. This
            approach not
            only improved the model's comprehension but also enhanced its ability to generate precise answers related to
            the themes
            and characters of these iconic works.
          </div>
        </td>
      </tr>


    </table>
    <p class="selfIntroLinks">
      <a href="https://vincent-sjh.github.io/">Blogs</a>&nbsp/&nbsp
      <a href="https://x.com/si57311">X</a>&nbsp/&nbsp
      <a href="https://github.com/vincent-sjh">Github</a>&nbsp/&nbsp
      <a href="https://huggingface.co/Vincentyyy">Huggingface</a>&nbsp/&nbsp
      <a href="https://www.youtube.com/@Vincentyyy_AI_Lab">YouTube</a>&nbsp/&nbsp
      <a href="https://space.bilibili.com/3690994966989729">Bilibili</a>&nbsp/&nbsp
      <a href="https://xiaohongshu.com/user/profile/6374d185000000001f014a93">小红书</a>&nbsp/&nbsp
      <a href="https://web.okjike.com/u/fd09e0bf-18a5-4118-ba36-a6b5253f2c46">即刻</a>&nbsp/&nbsp
      <a href="https://www.zhihu.com/people/song-jian-hao-72">知乎</a>&nbsp/&nbsp
    </p>
  </div> 
</body>

</html>