<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ryan's Project</title>
		<link rel="icon" type="image/png" href="../../image/favicon.png" />
		<link rel="stylesheet" href="styles.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="page">
			<div class="button-container">
				<a href="../../layout/research/research.html">
					<div class="button">
						<span>Research</span>
					</div>
				</a>
				<a href="../../index.html">
					<div class="button">
						<span>🏠Home</span>
					</div>
				</a>
				<a href="../../assets/CV.pdf">
					<div class="button">
						<span>CV</span>
					</div>
				</a>
				<a href="../../layout/more/more.html">
					<div class="button">
						<span>More</span>
					</div>
				</a>
			</div>
			<table class="content-table">
				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/R_19hUh5HVs"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>

					<td class="section-content">
						<div class="section-title">AI-Powered 'Who is the spy'</div>
						<div class="section-second-title">
							Gen AI
						</div>
						<div class="section-details">
							<span class="section-date">2023.11 ~ 2023.12</span>
							<br />
							<a href="https://k5ms77k0o1.feishu.cn/wiki/Lnj7w7DqeicERJkW7spcbsXBnle">
							<img src="../../image/doc.png" alt="Document" width="25" height="25"> [Document]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/shorts/R_19hUh5HVs">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<a href="http://www.cs.zju.edu.cn/turingclass_en/2023/1127/c51325a2830898/page.htm">
								<img src="../../image/news.png" alt="News" width="25" height="25"> [News]</img>
							</a>
							<br />
							<br />
							TLDR; A party game for education where users can customize game terms that are more familiar to the players, making the game more enjoyable while also learning some knowledge.
							<br />
							<br />
							Award: Alibaba YunXi Conference 2023 Hackathon the Best Zero to One Award (1/18).

						</div>
					</td>
				</tr>

				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/m7_3T8fpNPY"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>
					
					<td class="section-content">
						<div class="section-title">Want3</div>
						<div class="section-second-title">
							Blockchain
						</div>
						<div class="section-details">
							<span class="section-date">2023.10 ~ 2023.11</span>
							<br />
							<a href="https://github.com/Blockchain-zju/Want3-ETHHangzhou">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=m7_3T8fpNPY">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<a href="https://mp.weixin.qq.com/s/FUV6YmZy4-JMwowDq319Tw">
								<img src="../../image/news.png" alt="News" width="25" height="25"> [News]</img>
							</a>
							<br />
							<br />
							TLDR; A blockchain-based public goods tool implementing a "Have Someone Pay for You" system, focusing on allowing fans to tip their favorite content creators.
							<br />
							<br />
							Award: ETH Hangzhou Hackathon Public Goods Track Second Prize (2/60);ETH HK Hackathon Student Track Third Prize (3/60);ETH Online Scroll Prize.	
						</div>
					</td>
				</tr>
				
				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/ps_n6S6RBqg"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>

					<td class="section-content">
						<div class="section-title">
							Prompts Lego
						</div>
						<div class="section-second-title">Gen AI; HCI</div>
						<div class="section-details">
							<span class="section-date">2023.05 ~ 2023.08</span>
							<br />
							<a href="https://github.com/PromptsLego/PromptsLego">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=ps_n6S6RBqg">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<a href="https://mp.weixin.qq.com/s/csS0p3VgECsNx0ZEVsuuNA">
								<img src="../../image/news.png" alt="News" width="25" height="25"> [News]</img>
							</a>
							<br />
							<br />
							TLDR; A gamified prompt writing tool that assists users in crafting high-quality structured prompts as easy as assembling lego pieces.
							<br />
							<br />	
							Award: 2023 National University Student Hackathon Championship (1/300+); SegmentFault AI Hackathon G5, Jina AI Special Prize, highest prize (1/32).
						</div>
					</td>
				</tr>

				
				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/z68P1bP5w28"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>

					<td class="section-content">
						<div class="section-title">
							<a href="../../assets/3BallVis/index.html"
								>Is raining threes worth it?---A data visualization of NBA 3-pointers</a
							>
						</div>
						<div class="section-second-title">Data Visualization</div>
						<div class="section-details">
							<span class="section-date">2022.12 ~ 2023.01</span>
							<br />
							<a href="https://github.com/RyanFcr/visualization-final-project">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=z68P1bP5w28">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<!-- <a href="https://www.bilibili.com/video/BV1kY411U7dA/?spm_id_from=333.999.0.0">
								<img src="../../image/bilibili.png" alt="Bilibili" width="25" height="25"> [Bilibili]</img>
							</a> -->
							<br />
							<br />
							TLDR; We have visualized and analyzed some NBA data from Kaggle, designing and calculating special data metrics to uncover various trends in NBA three-point shooting.
							<br />
							<br />
							Award: The second place award (2 out of 30) for the Best Project in the Data Visualization course.
						</div>
					</td>
				</tr>
				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/n-uFXfrTMXk"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>

					<td class="section-content">
						<div class="section-title">
							Planet
						</div>
						<div class="section-second-title">Blockchain; HCI</div>
						<div class="section-details">
							<span class="section-date">2022.09 ~ 2023.04</span>
							<br />
							<a href="https://github.com/PlanetWeb3">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=n-uFXfrTMXk">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<a href="https://foresightnews.pro/article/detail/16449">
								<img src="../../image/news.png" alt="News" width="25" height="25"> [News]</img>
							</a>
							<br />
							<br />
							TLDR; A cute and healing Web3 metaverse game that runs constantly on the desktop like a dynamic wallpaper.
							<br />
							<br />	
							Award: First prize in Tsinghua Blockchain Hackathon Metaverse Track (1/60); First prize in Alibaba Ant Chain Blockchain BootCamp 2022 (1/60); BNB Chain Hackathon Alibaba Cloud Sponsor Prize (1/400).
						</div>
					</td>
				</tr>

				<tr>
					<td class="section-image-large">
						<iframe
							width="560"
							height="315"
							src="https://www.youtube.com/embed/6WEplUflEKI"
							title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen
						></iframe>
					</td>

					<td class="section-content">
						<div class="section-title">Easy-X</div>
						<div class="section-second-title">
							Wearable Spectacles Device; HCI
						</div>
						<div class="section-details">
							<span class="section-date">2022.07</span>
							<br />
							<a href="https://github.com/RyanFcr/HuaWei_Smart_Glass">
							<img src="../../image/github.png" alt="Github" width="25" height="25"> [Github]</img>
							</a>
							&nbsp;
							<a href="https://www.youtube.com/watch?v=6WEplUflEKI">
								<img src="../../image/youtube.png" alt="Youtube" width="25" height="25"> [Youtube]</img>
							</a>
							&nbsp;
							<!-- <a href="https://www.bilibili.com/video/BV1Ua411X73J/">
								<img src="../../image/bilibili.png" alt="Bilibili" width="25" height="25"> [Bilibili]</img>
							</a> -->
							<br />
							<br />
							TLDR; Easy-X is our project for the HCI Hackathon jointly organized by Huawei Smart Glasses and Zhejiang University. It enables users to control video progress bars through voice commands, making it more convenient for people engaged in fitness and dance to follow along with exercise videos.
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
