.page {
  height: 100vh;
  /* Set container height to 100% of viewport height */
  overflow: auto;
  position: relative;
}

html,
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #8f7394, #34032f);
}

.button-container {
  position: absolute;
  /* 设置绝对定位 */
  top: 1%;
  /* 距离顶部的距离 */
  right: 5%;
  /* 距离右侧的距离 */
  gap: 20px;
  display: flex;
  flex-direction: row;
  /* 将按钮水平排列 */
}

.button {
  width: 120px;
  height: 60px;
  background-color: transparent;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.button span {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
}

.button-container a {
  text-decoration: none;
}

.map {
  height: 60%;
  width: 60%;
  border: 5px solid #eee;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  position: absolute;
  margin-top: 2%;
  margin-left: 19%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.bigTitle {
  font-size: 50px;
  font-weight: bold;
  margin-top: 3%;
  /* padding: 2% 0; */
  text-align: center;
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bodytext {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 0 10%;
  font-family: "Space Grotesk", sans-serif;
  text-align: start;
}

.content-table {
  width: 80%;
  border: 0px;
  border-spacing: 0px;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
  padding: 1%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
  margin-bottom: 5%;
}

.section-heading {
  padding: 5px;
  font-family: "Arial", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: rgba(78, 60, 182, 0.548);
  background-color: #e8e8e8;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
}

.section-image {
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

.section-image-large {
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

.section-image img {
  max-height: 80px;
}

.section-image-large img {
  /* 圆角 */
  max-width: 600px;
  border-radius: 10px;
}

.section-content {
  padding: 10px 20px;
  vertical-align: middle;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.section-title a {
  color: rgb(28, 38, 35);
}

.section-second-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.section-second-title a {
  color: rgb(28, 38, 35);
}

.section-details {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  font-family: "Space Grotesk", sans-serif;
}

.section-details a {
  color: rgb(28, 38, 35);
}

.section-details strong {
  font-weight: bold;
  font-size: 16px;
}

.section-details .section-date {
  font-style: italic;
}

.photoTitle {
  font-size: 50px;
  font-weight: bold;
  margin-top: 40%;
  /* padding: 2% 0; */
  text-align: center;
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.photoContainer .imageWithCaption {
  /* 和原来图片的宽度一样 */
  margin-bottom: 20px;
}

.photoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.photoContainer img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.photoContainer p {
  text-align: center;
  font-size: 14px;
  color: #555;
}

.three-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.three-photo-container .photoContainer {
    margin: 0 10px;
}

.selfIntroApply {
    font-size: 20px;
    color: #353232;
    text-align: center;
    padding: 5px;
    margin: 0 10%;
    font-family: 'Space Grotesk', sans-serif;
    font: bold;
}

.selfIntroLinks {
    font-size: 20px;
    color: #353232;
    text-align: center;
    padding: 10px;
    margin: 0 20%;
    font-family: 'Space Grotesk', sans-serif;
    font: bold;
}

.selfIntroLinks a {
    color: #5d6b4e;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .button-container {
    top: 1%;
    margin-left: 50%;
    margin-right: 7%;
    position: absolute;
  }

  .button {
    width: 60px;
    height: 40px;
    margin-bottom: 10px;
  }

  .button span {
    font-size: 10px;
  }

  .section-image-large iframe {
    width: 320px;
    height: 180px;
  }

  .map {
    margin-top: 10%;
    height: 30%;
  }

  .bigTitle {
    margin-top: 20%;
  }

  .photoTitle {
    margin-top: 80%;
  }

  .photoContainer img {
    width: 100%;
  }
}