<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vincent Self Introduction</title>
  <link rel="icon" type="image/png" href="../../image/favicon.png" />
  <link rel="stylesheet" href="styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="page">
    <div class="button-container">
      <a href="../../index.html">
        <div class="button">
          <span>🏠Home</span>
        </div>
      </a>
      <a href="../research/research.html">
        <div class="button">
          <span>Research</span>
        </div>
      </a>
      <a href="https://vincent-sjh.github.io/">
        <div class="button">
          <span>Blogs</span>
        </div>
      </a>
      <a href="../../assets/CV.pdf">
        <div class="button">
          <span>CV</span>
        </div>
      </a>
      <a href="../more/more.html">
        <div class="button">
          <span>More</span>
        </div>
      </a>
    </div>
    <div class="square">
      <img src="../../image/selfIntro.jpg" alt="my personal picture" />
      <div class="bodyBigtext">Jianhao Song</div>
      <div class="bodyChineseBigtext">宋建昊</div>
      <div class="bodyMidtext">Vincent</div>
      <p class="bodytext">
        Hi👋! Great to see you here!
        <br />
        I'm a innovator, explorer and builder. I am not content to learn and just imitate the knowledge and skills that
        already exist,
        but crazy about creating something new, which echoes what Greek philosopher Socrates said 2500 years ago,
        “Education
        is a kindling of a flame, not a filling of a vessel”. I love that what I do really changes the world, and
        creating is a way
        for me to interact with this world and find myself.

      </p>

    </div>
    <p class="selfIntroLinks">
        <a href="https://vincent-sjh.github.io/">Blogs</a>&nbsp/&nbsp
        <a href="https://x.com/si57311">X</a>&nbsp/&nbsp
        <a href="https://github.com/vincent-sjh">Github</a>&nbsp/&nbsp
        <a href="https://www.youtube.com/@Vincentyyy_AI_Lab">YouTube</a>&nbsp/&nbsp
        <a href="https://space.bilibili.com/3690994966989729">Bilibili</a>&nbsp/&nbsp
        <a href="https://xiaohongshu.com/user/profile/6374d185000000001f014a93">小红书</a>&nbsp/&nbsp
        <a href="https://web.okjike.com/u/fd09e0bf-18a5-4118-ba36-a6b5253f2c46">即刻</a>&nbsp/&nbsp
        <a href="https://www.zhihu.com/people/song-jian-hao-72">知乎</a>&nbsp/&nbsp
    </p>
  </div>
</body>

</html>