<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ryan Self Introduction</title>
    <link rel="icon" type="image/png" href="../../image/favicon.png" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page">
      <div class="button-container">
        <a href="../../index.html">
          <div class="button">
            <span>🏠Home</span>
          </div>
        </a>
        <a href="../research/research.html">
          <div class="button">
            <span>Research</span>
          </div>
        </a>
        <a href="../program/program.html">
          <div class="button">
            <span>Project</span>
          </div>
        </a>
        <a href="../../assets/CV.pdf">
          <div class="button">
            <span>CV</span>
          </div>
        </a>
        <a href="../more/more.html">
          <div class="button">
            <span>More</span>
          </div>
        </a>
      </div>
      <div class="square">
        <img src="../../image/selfIntro.jpg" alt="my personal picture" />
        <div class="bodyBigtext">Chengrui Fang</div>
        <div class="bodyChineseBigtext">方成睿</div>
        <div class="bodyMidtext">Ryan</div>
        <p class="bodytext">
          Hi👋! Great to see you here!
          <br />
          <br />

          I'm a <a target="black">hacker, creator, and entrepreneur</a>,
          inspired by "<a href="http://paulgraham.com/hp.html" target="black"
            >Hackers and Painters</a
          >" by
          <a href="https://www.ycombinator.com/" target="black">Y Combinator</a>
          founder
          <a href="http://paulgraham.com/" target="black">Paul Graham</a>.
          Hacking, or developing, is the act of creating something new, much
          like painting. This analogy eventually became my guiding principle. My
          computer is like my paintbrush, I use it to "paint" my products, blogs
          and videos. Hacking is a way for me to
          <a target="black">express myself, connect, and resonate with others</a
          >.
          <br />
          <br />
          I am currently interested in
          <a target="black">generative AI, blockchain, crypto, and HCI</a>. At
          the same time, I am also interested in their applications in gaming,
          education, and social scenarios. I am currently leading a team to
          explore the future of education, focusing on creating AI-powered
          gamified PBL (Project-Based Learning) software on the iPad for
          elementary school students. The software will help children to use
          generative AI tools to complete their projects within the game.
        </p>
        <p class="selfIntroLinks">
          <a href="mailto:fcrryan173@gmail.com">☘️ Email</a>&nbsp/&nbsp
          <a href="assets/CV.pdf">🧩 CV</a>&nbsp/&nbsp
          <a href="https://twitter.com/RyanMfer">🌗 Twitter</a>&nbsp/&nbsp
          <a href="https://github.com/RyanFcr">💻 Github</a>&nbsp/&nbsp
          <a href="https://www.youtube.com/channel/UCwoRlsYEg85MAK9_O-qPTiw"
            >🌟 YouTube</a
          >&nbsp/&nbsp
          <a href="https://space.bilibili.com/277830177">🫥 Bilibili</a>
        </p>
      </div>
    </div>
  </body>
</html>
