<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Research</title>
  <link rel="icon" type="image/png" href="../../image/favicon.png" />
  <link rel="stylesheet" href="styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="page">
    <div class="button-container">
      <a href="../../index.html">
        <div class="button">
          <span>🏠Home</span>
        </div>
      </a>
      <a href="../../layout/program/program.html">
        <div class="button">
          <span>Program</span>
        </div>
      </a>
      <a href="../../assets/CV.pdf">
        <div class="button">
          <span>CV</span>
        </div>
      </a>
      <a href="../more/more.html">
        <div class="button">
          <span>One more thing...</span>
        </div>
      </a>
    </div>
    <table class="content-table">
      <tr>
        <td class="section-image-large">
          <img src="../../image/THUCST.jpg" alt="THUCST logo" class="section-image-large" />
        </td>

        <td class="section-content">
          <div class="section-title">Tsinghua University</div>
          <div class="section-second-title">
            <strong><a href="https://www.cs.tsinghua.edu.cn/csen/">Dept. of CST</a></strong>
          </div>
          <div class="section-details">
            <span class="section-date">2025.7 ~ present</span>
            <br />
            Beijing, China
            <br />
            Research Assistant Intern
            <br />
            Supervisor:
            <strong><a href="https://www.cs.tsinghua.edu.cn/info/1117/3545.htm">Prof. Peng Cui
              </a></strong>
            <br />
          </div>
        </td>
      </tr>


      <tr>
        <td class="section-image-large">
          <img src="../../image/THU.png" alt="THU logo" class="section-image-large" />
        </td>

        <td class="section-content">
          <div class="section-title">Tsinghua University</div>
          <div class="section-second-title">
            B.Eng. in
            <strong><a href="https://www.cs.tsinghua.edu.cn/">Dept. of CST</a></strong>
          </div>
          <div class="section-details">
            <span class="section-date">2022.09 ~ present</span>
            <br />
            Beijing, China
            <br />
            Undergraduate Student
            <br />
          </div>
        </td>
      </tr>

    </table>
        <table class="content-table">
      <tr>
        <td class="section-image-large">
          <img src="../../image/non-convex.png" alt="Non-convex Optimization" class="section-image-large" />
        </td>

        <td class="section-content">
          <div class="section-title"><a href="https://ft.tech/">Non-Convex Technology</a></div>
          <div class="section-second-title">
            <strong>Non-Convex AI Lab</strong>
          </div>
          <div class="section-details">
            <span class="section-date">2025.7 ~ 2025.9</span>
            <br />
            Beijing, China
            <br />
            LLM-App Engineer
            <br />
          </div>
        </td>
      </tr>


      <tr>
        <td class="section-image-large">
          <img src="../../image/stable-ai.png" alt="Stable AI" class="section-image-large" />
        </td>

        <td class="section-content">
          <div class="section-title"><a href="https://www.cs.tsinghua.edu.cn/">Stable AI</a></div>
          <div class="section-details">
            <span class="section-date">2025.10 ~ present</span>
            <br />
            Beijing, China
            <br />
            LLM Engineer Intern, Developer for <a href="https://limix.ai/">Limix</a>
            <br />
          </div>
        </td>
      </tr>

    </table>
    <p class="selfIntroLinks">
        <a href="https://vincent-sjh.github.io/">Blogs</a>&nbsp/&nbsp
        <a href="https://x.com/si57311">X</a>&nbsp/&nbsp
        <a href="https://github.com/vincent-sjh">Github</a>&nbsp/&nbsp
        <a href="https://www.youtube.com/@Vincentyyy_AI_Lab">YouTube</a>&nbsp/&nbsp
        <a href="https://space.bilibili.com/3690994966989729">Bilibili</a>&nbsp/&nbsp
        <a href="https://xiaohongshu.com/user/profile/6374d185000000001f014a93">小红书</a>&nbsp/&nbsp
        <a href="https://web.okjike.com/u/fd09e0bf-18a5-4118-ba36-a6b5253f2c46">即刻</a>&nbsp/&nbsp
        <a href="https://www.zhihu.com/people/song-jian-hao-72">知乎</a>&nbsp/&nbsp
    </p>
  </div>
</body>

</html>