.section-table {
	width: 100%;
	border: 0px;
	border-spacing: 0px;
	border-collapse: separate;
	margin-right: auto;
	margin-left: auto;
}

.page{
	height: 100vh; /* Set container height to 100% of viewport height */
	overflow: auto;
	position: relative;
}

.content-table {
	width: 50%;
	border: 0px;
	border-spacing: 0px;
	border-collapse: separate;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
    background-color: #ffffff;;
	border-radius: 20px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	margin-top: 5%;
	margin-bottom: 5%;
}

.section-heading {
	padding: 5px;
	font-family: "Arial", sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: rgba(78, 60, 182, 0.548);
	background-color: #e8e8e8;
	border-radius: 5px 5px 0px 0px;
	text-align: center;
}

.section-image {
	padding: 10px;
	vertical-align: middle;
	text-align: center;
}
.section-image-large {
	padding: 10px;
	vertical-align: middle;
	text-align: center;
}

.section-image img {
	max-height: 80px;
}

.section-image-large img {
	max-width: 100px;
}

.section-content {
	padding: 10px 20px;
	vertical-align: middle;
}

.section-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

.section-second-title {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5px;
}

.section-second-title a{
	color:rgb(28, 38, 35);
}


.section-details {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
}

.section-details a{
	color: rgb(28, 38, 35);
}

.section-details strong {
	font-weight: bold;
	font-size: 16px;
}

.section-details .section-date {
	font-style: italic;
}

body {
	background: linear-gradient(to bottom, #426B69, #8BB174);
	font-family: Arial, Helvetica, sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}
  
.button-container {
    position: absolute; /* 设置绝对定位 */
    top: 1%; /* 距离顶部的距离 */
    right: 5%; /* 距离右侧的距离 */
    gap: 20px;
    display: flex;
    flex-direction: row; /* 将按钮水平排列 */
}

.button {
    width: 120px;
    height: 60px;
    background-color: transparent;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
}

.button span {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.button-container a{
	text-decoration: none;
}

@media screen and (max-width: 1200px) {
	.content-table {
		margin-top: 15%;
		width: 90%;
	}

    .button-container {
        top: 1%; /* 调整按钮距离顶部的距离 */
        margin-left: 50%;
        margin-right: 7%;
        position: absolute;
    }

    .button {
        width: 60px;
        height: 40px;
        margin-bottom: 10px; /* 调整按钮之间的间距 */
    }

    .button span {
        font-size: 10px;
    }
}